USE [master]
GO
/****** Object:  Database [Event]    Script Date: 29/08/2019 09:50:31 ******/
CREATE DATABASE [Event]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Event', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Event.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Event_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Event_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Event].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Event]
GO
USE [Event]
GO
/****** Object:  Table [dbo].[image]    Script Date: 29/08/2019 09:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[url] [nvarchar](max) NOT NULL,
	[isBlur] [bit] NULL,
	[isClosedEye] [bit] NULL,
	[isDark] [bit] NULL,
	[isCutFace] [bit] NULL,
	[isGroom] [bit] NULL,
	[isLight] [bit] NULL,
	[isInside] [bit] NULL,
	[hasChildren] [bit] NULL,
	[hasYoung] [bit] NULL,
	[hasAdults] [bit] NULL,
	[numPerson] [int] NULL,
	[isInRecycleBin] [bit] NULL,
 CONSTRAINT [PK_image] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
